:root {
  --rolling-duration: 6s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background: rgb(26, 28, 36);
  font-family: Montserrat, 'sans-serif';
}

.roulette {
  position: relative;
  width: 100%;
  max-width: 1570px;
  overflow: hidden;
}

.roulette-roller {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  line-height: 1.5;
  background: rgba(26, 28, 36, .75);
  transition: opacity 0.25s ease-in-out;
  z-index: 2;
}

.rolling {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.countdown {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  font-family: monospace;
}

.roulette-indicator {
  position: absolute;
  width: 4px;
  height: 100%;
  left: 50%;
  margin-left: -2px;
  background: white;
  transition: opacity 0.25s ease-in-out;
  z-index: 2;
}

.roulette-spin-container {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.roulette-spin-items {
  margin: 0 auto;
  padding: 5px;
  display: flex;
  justify-content: center;
  width: 9370px;
  transition: transform var(--rolling-duration) cubic-bezier(0.1, 0.5, 0.61, 0.99);
}

.spin-duration-0 {
  --rolling-duration: 0s;
}

.spin {
  width: 100px;
  height: 100px;
  margin: 0 2px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.spin.red {
  background-image: url('./assets/roulette_red.png');
}

.spin.blue {
  background-image: url('./assets/roulette_blue.png');
}

.spin.gold {
  background-image: url('./assets/roulette_gold.png');
}

.hidden {
  opacity: 0;
  z-index: -1;
}